# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log
.npm
.yarn-integrity

# Entorno
.env
.venv
venv/
ENV/

# Archivos de configuración
.idea/
.vscode/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de modelos 3D y PDFs de ejemplo
frontend/public/models/*
!frontend/public/models/.gitkeep
frontend/public/docs/*
!frontend/public/docs/.gitkeep

# Archivos de compilación
frontend/dist/
frontend/build/ 