:root {
  --primary-color: #128C7E; /* Color verde de WhatsApp */
  --secondary-color: #25D366; /* Color verde claro */
  --background-color: #075E54; /* Color de fondo oscuro */
  --text-color: #FFFFFF; /* Color de texto blanco */
}

.appContainer {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--secondary-color);
} 